$colors: (
    megasena: #6befa3,
    quina: #8666ef,
    lotofacil: #dd7ac6,
    lotomania: #ffaa64,
    timemania: #5aad7d,
    dia-de-sorte: #bfaf83,
    background: #efefef,
    text-dark: #2c3e50,
    text-light: #fff,
);

$font-family: 'Monteserrat', serif;
$spacing: 1rem;